/*GENERAL*/
.banner {
    display: block;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

main {
    text-align: center;
    background-color: rgba(240, 233, 233, 0.281);
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;
    background-color: white;
    color: $color-primario;
    border: 2.5px solid black;
    margin: 0.8em;
    border-radius: $border-radius-shadow;
    box-shadow: $box-shadow-1;
}

/*ANIMACIONES*/
.producto{
    &:hover {
        @include animacion-hover-1;
}
}

.navegador{
    &:hover{
        @include animacion-hover-1;
}
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1109px){
    .productos-destacados{
        padding-bottom: map-get($espacios, pad-b );
        gap:map-get($espacios, gap );
    }

    .ingresos-title{
        width: 90%;
    }

    aside {
        padding-bottom: map-get($espacios, pad-b );
        gap:map-get($espacios, gap );
        @include display-jc-ai(flex,flex-start,center);
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px){
    .ingresos-title{
        width: 100%;
    }
    
    aside{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/*HEADER*/
header {
    background-color: white;
    padding: 15px;
    @include display-jc-ai(flex,space-around,center);
    flex-direction: row-reverse;
    flex-wrap: wrap;
        div{
            .buscador{
                width: 350px;
                height: 25px;
                border: 2.2px solid black;
                border-radius: $border-radius-shadow;
                box-shadow: $box-shadow-1;
            }
            .h1{
                font-size: 35px;
                color: $color-primario;
            }
            .nav ul{
                color: $color-primario;
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            li{
                padding: 8px;
                background-color: rgb(255, 255, 255);
                margin: 0.8em;
                border: 2.2px solid black;
                border-radius: $border-radius-shadow;
                box-shadow: $box-shadow-1;
                display: flex;
                text-align: center;
            .link-nav{
                color: $color-primario;
            }
            }
            }
        }
}

/*INDEX*/
.productos-title {
    width: 100%; 
}

.productos-destacados {
    @include display-jc-ai(flex,space-around,center);
    flex-wrap: wrap;
}

aside{
    padding-bottom: map-get($espacios, pad-b );
    gap:map-get($espacios, gap );
}

/*NOSOTROS*/
.nosotros{
    padding-bottom: map-get($espacios, pad-b );
    div{
        flex-direction: column;
        @include display-jc-ai(flex,space-around,center);
    }
}

.ubicacion{
    width: 50%;
}

/*CONTACTO*/
.contacto{
    padding-bottom: map-get($espacios, pad-b );
    div{
        flex-direction: column;
        @include display-jc-ai(flex,space-around,center);
    }
}

/*CALZADO*/
.calzado {
    @include display-jc-ai(flex,space-around,center); 
    padding-bottom: map-get($espacios, pad-b );
    gap:map-get($espacios, gap );
    flex-wrap: wrap;
}

/*INDUMENTARIA*/
.indumentaria {
    @extend .calzado;
}

/*ACCESORIOS*/
.accesorios {
    @extend .calzado;
}

/*FOOTER*/
footer {
    background-color: black;
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    div{
        text-align: center;
        padding-bottom: map-get($espacios, pad-b );
        border: 2px solid white;
        color: white;
        align-self: center;
        justify-self: center;
        /*Modelado con flexbox*/
        @include display-jc-ai(flex,space-around,center);
        flex-direction: column;
    }
}